#landingview {
	margin-top: -10%;
	height: auto;
	background-color: white
	width: auto;
	background-image: url(../images/better.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: fixed;
}

.slide-down {
  margin-left: 30%;
  animation-name: slidedown;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  font-size: 50px;
  color: red;
}

@keyframes slidedown {
  50%{color: black;}
  100%{color:yellow;}
}

.navbar {
	margin-top: -5%;
	background-color: white;
	border: 1px solid white;
}

.active {
	background-color: yellow
}

.navbar:hover {
	color: black;
}

img {
	margin-left: 42%;
	width: 150px;
}

.navbar-nav:hover {
	background-color: black;
	color: white;
}

.landing-text {
	margin-top: 10%;
	margin-left: 40%;
	color:white;
	font-size: 4em;
	padding-top: 8%;
	padding:8%;
}